body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.track .lane {
    height: 25vh;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.horse {
    height: 100px;
    animation: gallop 1s steps(4) infinite;
}
@keyframes gallop {
    0% { transform: translateX(0); }
    100% { transform: translateX(100vw); }
}